
@{
    ViewBag.Title = "Request 10";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<courseworkv5.Trains>

<body>
    <div align="center">
        <table class="table table-striped">
            <tr>
                <th>TrainId</th>
                <th>TrainNumber</th>
                <th>TrainType</th>
                <th>TrainAge</th>
            </tr>
            <tbody>
                <form method="post" action="TrainsByAge">
                    <h4>Вивести інформацію про потяги за віком, більше :</h4>
                    <select name="trainAge">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                    <input type="submit" value="Send" />
                </form>
                @{
                    foreach (var t in Model)
                    {
                        <tr>
                            <td>@t.TrainId</td>
                            <td>@t.TrainNumber</td>
                            <td>@t.TrainType</td>
                            <td>@t.TrainAge</td>
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="script.js"></script>

</body>

