
@{
    ViewBag.Title = "Request 6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Вивести кількість працівників у бригаді</h2>
    <h4>Кількість працівників у бригаді: @ViewBag.ret</h4>

</div>