

@{
    ViewBag.Title = "WorkersAdmins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Вивести кількість працівників і кількість адміністраторів</h2>
    <h4>Кількість працівників / кількість адміністраторів: @ViewBag.ret</h4>

</div>