
@{
    ViewBag.Title = "Request 7";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Вивести кількість працівників у відділі</h2>
    <h4>Кількість працівників у відділі: @ViewBag.ret</h4>

</div>